#### Here we have to find the eucledian distance

##### Advantage
1) More accurate
##### Disadvantage
1) lots of calculation 
2) production(everytime new data gets feeded we have to cal. distance using all the data sets so it increases the memory

In [14]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [15]:
df = pd.read_csv('titanic.csv', usecols=['Age','Pclass','Fare','Survived'])

In [16]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [18]:
df.isnull().mean()

Survived    0.000000
Pclass      0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [19]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [21]:
X_train.head()

     Pclass   Age     Fare
30        1  40.0  27.7208
10        3   4.0  16.7000
873       3  47.0   9.0000
182       3   9.0  31.3875
876       3  20.0   9.8458

In [22]:
knn = KNNImputer(n_neighbors=3, weights='distance')

In [23]:
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [24]:
lr = LogisticRegression()

lr.fit(X_train_trf, y_train)

y_pred = lr.predict(X_test_trf)

In [25]:
accuracy_score(y_test, y_pred)

0.7150837988826816

##### comparison with simple Imputer:

In [26]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [27]:
lr2 = LogisticRegression()

lr2.fit(X_train_trf2, y_train)

y_pred2 = lr2.predict(X_test_trf2)

In [28]:
accuracy_score(y_test, y_pred2)

0.6927374301675978

In [34]:
for j in ['distance','uniform']:
    print(j, type(j))

distance <class 'str'>
uniform <class 'str'>

#### Now finding the best value of n_neighbours using a loop

In [32]:
for i in range(1, 15):
    knn2 = KNNImputer(n_neighbors=i, weights='distance')
    
    X_train_trf3 = knn2.fit_transform(X_train)
    X_test_trf3 = knn2.transform(X_test)
    
    
    lr = LogisticRegression()

    lr.fit(X_train_trf3, y_train)

    y_pred3 = lr.predict(X_test_trf3)
    
    print(i, accuracy_score(y_test, y_pred3))

1 0.6871508379888268
2 0.7150837988826816
3 0.7150837988826816
4 0.7094972067039106
5 0.7094972067039106
6 0.7039106145251397
7 0.7039106145251397
8 0.7039106145251397
9 0.7039106145251397
10 0.7039106145251397
11 0.7039106145251397
12 0.7039106145251397
13 0.7039106145251397
14 0.7039106145251397

In [35]:
for i in range(1, 15):
    knn3 = KNNImputer(n_neighbors=i, weights='uniform')
    
    X_train_trf4 = knn3.fit_transform(X_train)
    X_test_trf4 = knn3.transform(X_test)
    
    
    lr = LogisticRegression()

    lr.fit(X_train_trf4, y_train)

    y_pred4 = lr.predict(X_test_trf4)
    
    print(i, accuracy_score(y_test, y_pred4))

1 0.6871508379888268
2 0.7094972067039106
3 0.7039106145251397
4 0.7039106145251397
5 0.7039106145251397
6 0.7039106145251397
7 0.7039106145251397
8 0.6983240223463687
9 0.7039106145251397
10 0.7039106145251397
11 0.7039106145251397
12 0.7039106145251397
13 0.7039106145251397
14 0.7039106145251397