In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2').text

SSLError: HTTPSConnectionPool(host='www.ambitionbox.com', port=443): Max retries exceeded with url: /list-of-companies?campaign=desktop_nav&page=2 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1006)')))

In [3]:
import certifi

In [4]:
url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2'

In [5]:
requests.get(url, verify=False).text

C:\Users\PK419HT\AppData\Local\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1100: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.ambitionbox.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;76d3f17&#46;1716883271&#46;12266fb9\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;76d3f17&#46;1716883271&#46;12266fb9</P>\n</BODY>\n</HTML>\n'

In [6]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [7]:
webpage = requests.get(url, headers=headers, verify=False).text

C:\Users\PK419HT\AppData\Local\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1100: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.ambitionbox.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [8]:
soup = BeautifulSoup(webpage, 'lxml')

In [45]:
# print(soup.prettify())

In [10]:
soup.find_all('h2')

[<h2 class="companyCardWrapper__companyName" title="Vodafone Idea">
 										Vodafone Idea
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="BYJU'S">
 										BYJU'S
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Kotak Mahindra Bank">
 										Kotak Mahindra Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Deloitte">
 										Deloitte
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Reliance Industries ">
 										Reliance Industries
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="iEnergizer">
 										iEnergizer
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Bharti Airtel">
 										Bharti Airtel
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Tata Motors">
 										Tata Motors
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="WNS">
 										WNS
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Flipkart">
 										Flipkart
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="IndusInd Bank">
 										IndusInd Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Ernst &amp; Young">
 										Ernst &amp; Young
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="AU Small Finance Bank">
 										AU Small Finance Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Mahindra &amp; Mahindra">
 										Mahindra &amp; Mahindra
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Infosys BPM ">
 										Infosys BPM
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="DXC Technology">
 										DXC Technology
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="IDFC FIRST Bank">
 										IDFC FIRST Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Conneqt Business Solutions">
 										Conneqt Business Solutions
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="LTIMindtree">
 										LTIMindtree
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HDFC Life">
 										HDFC Life
 									</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Industry
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Locations
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Type
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Badges
 		</h2>]

In [11]:
for i in soup.find_all(attrs={'class':'companyCardWrapper__companyName'}):
    print(i.text.strip())

Vodafone Idea
Vodafone Idea
BYJU'S
BYJU'S
Kotak Mahindra Bank
Kotak Mahindra Bank
Deloitte
Deloitte
Reliance Industries
Reliance Industries
iEnergizer
iEnergizer
Bharti Airtel
Bharti Airtel
Tata Motors
Tata Motors
WNS
WNS
Flipkart
Flipkart
IndusInd Bank
IndusInd Bank
Ernst & Young
Ernst & Young
AU Small Finance Bank
AU Small Finance Bank
Mahindra & Mahindra
Mahindra & Mahindra
Infosys BPM
Infosys BPM
DXC Technology
DXC Technology
IDFC FIRST Bank
IDFC FIRST Bank
Conneqt Business Solutions
Conneqt Business Solutions
LTIMindtree
LTIMindtree
HDFC Life
HDFC Life

In [12]:
for i in soup.find_all('h2', class_='companyCardWrapper__companyName'):
    print(i.text.strip())

Vodafone Idea
BYJU'S
Kotak Mahindra Bank
Deloitte
Reliance Industries
iEnergizer
Bharti Airtel
Tata Motors
WNS
Flipkart
IndusInd Bank
Ernst & Young
AU Small Finance Bank
Mahindra & Mahindra
Infosys BPM
DXC Technology
IDFC FIRST Bank
Conneqt Business Solutions
LTIMindtree
HDFC Life

In [13]:
for i in soup.find_all('span', class_='companyCardWrapper__interLinking'):
    print(i.text.strip())

Telecom | 5k-10k Employees | Public | 6 years old | Mumbai +639 more
EdTech | 10k-50k Employees | Indian Unicorn | 13 years old | Bangalore +307 more
Banking | 50k-1 Lakh Employees | Public | 21 years old | Mumbai +573 more
Management Consulting | 1 Lakh+ Employees | 179 years old | London +151 more
Oil & Gas | 1 Lakh+ Employees | Public | 47 years old | Navi Mumbai +687 more
BPO | 10k-50k Employees | 24 years old | Noida +31 more
Telecom | 10k-50k Employees | Public | 29 years old | Gurgaon/Gurugram +661 more
Automobile | 10k-50k Employees | Public | 79 years old | Pune +433 more
BPO | 10k-50k Employees | 28 years old | Mumbai +38 more
Internet | 10k-50k Employees | Public | 17 years old | Bangalore +516 more
Banking | 10k-50k Employees | Public | 30 years old | Gurgaon/Gurugram +690 more
Management Consulting | 50k-1 Lakh Employees | 22 years old | London +94 more
Banking | 10k-50k Employees | Fortune India 500 | 28 years old | Jaipur +409 more
Automobile | 1 Lakh+ Employees | Public | 79 years old | Mumbai +480 more
BPO | 10k-50k Employees | 22 years old | Bangalore/Bengaluru +68 more
IT Services & Consulting | 10k-50k Employees | Public | 7 years old | Minato +83 more
Banking | 10k-50k Employees | Public | 6 years old | Mumbai +588 more
BPO | 10k-50k Employees | 22 years old | Mumbai +224 more
IT Services & Consulting | 50k-1 Lakh Employees | Public | 27 years old | Bangalore / Bengaluru +52 more
Insurance | 10k-50k Employees | Public | 24 years old | Mumbai +563 more

#### Instead of fetching one value one by one and then joining them we can just extract the whole box at once

In [14]:
for i in soup.find_all('div', class_='companyCardWrapper__metaInformation'):
    print(i.text.strip())

Vodafone Idea
									   Follow   4.2
									Telecom | 5k-10k Employees | Public | 6 years old | Mumbai +639 more
								   Highly Rated For Company Culture, Work Life Balance, Salary & Benefits
BYJU'S
									   Follow   3.1
									EdTech | 10k-50k Employees | Indian Unicorn | 13 years old | Bangalore +307 more
								    Critically Rated For Job Security, Work Life Balance, Company Culture
Kotak Mahindra Bank
									   Follow   3.8
									Banking | 50k-1 Lakh Employees | Public | 21 years old | Mumbai +573 more
								   Highly Rated For Job Security  Critically Rated For Promotions / Appraisal
Deloitte
									   Follow   3.9
									Management Consulting | 1 Lakh+ Employees | 179 years old | London +151 more
								   Highly Rated For Job Security, Skill Development / Learning, Salary & Benefits
Reliance Industries
									   Follow   4.1
									Oil & Gas | 1 Lakh+ Employees | Public | 47 years old | Navi Mumbai +687 more
								   Highly Rated For Job Security, Skill Development / Learning, Work Life Balance  Critically Rated For Promotions / Appraisal
iEnergizer
									   Follow   4.7
									BPO | 10k-50k Employees | 24 years old | Noida +31 more
								   Highly Rated For Company Culture, Skill Development / Learning, Job Security
Bharti Airtel
									   Follow   4.1
									Telecom | 10k-50k Employees | Public | 29 years old | Gurgaon/Gurugram +661 more
								   Highly Rated For Skill Development / Learning, Job Security, Company Culture
Tata Motors
									   Follow   4.2
									Automobile | 10k-50k Employees | Public | 79 years old | Pune +433 more
								   Highly Rated For Job Security, Company Culture, Skill Development / Learning
WNS
									   Follow   3.5
									BPO | 10k-50k Employees | 28 years old | Mumbai +38 more
								    Critically Rated For Promotions / Appraisal, Salary & Benefits, Work Satisfaction
Flipkart
									   Follow   4.0
									Internet | 10k-50k Employees | Public | 17 years old | Bangalore +516 more
								   Highly Rated For Skill Development / Learning, Company Culture, Job Security
IndusInd Bank
									   Follow   3.7
									Banking | 10k-50k Employees | Public | 30 years old | Gurgaon/Gurugram +690 more
								    Critically Rated For Promotions / Appraisal, Salary & Benefits, Company Culture
Ernst & Young
									   Follow   3.6
									Management Consulting | 50k-1 Lakh Employees | 22 years old | London +94 more
								   Highly Rated For Job Security  Critically Rated For Work Life Balance, Work Satisfaction, Promotions / Appraisal
AU Small Finance Bank
									   Follow   4.4
									Banking | 10k-50k Employees | Fortune India 500 | 28 years old | Jaipur +409 more
								   Highly Rated For Skill Development / Learning, Job Security, Company Culture
Mahindra & Mahindra
									   Follow   4.2
									Automobile | 1 Lakh+ Employees | Public | 79 years old | Mumbai +480 more
								   Highly Rated For Job Security, Skill Development / Learning, Company Culture
Infosys BPM
									   Follow   3.8
									BPO | 10k-50k Employees | 22 years old | Bangalore/Bengaluru +68 more
								   Highly Rated For Job Security, Company Culture, Skill Development / Learning  Critically Rated For Salary & Benefits, Promotions / Appraisal
DXC Technology
									   Follow   3.8
									IT Services & Consulting | 10k-50k Employees | Public | 7 years old | Minato +83 more
								   Highly Rated For Work Life Balance  Critically Rated For Promotions / Appraisal, Salary & Benefits
IDFC FIRST Bank
									   Follow   4.0
									Banking | 10k-50k Employees | Public | 6 years old | Mumbai +588 more
								   Highly Rated For Salary & Benefits, Skill Development / Learning, Job Security
Conneqt Business Solutions
									   Follow   3.7
									BPO | 10k-50k Employees | 22 years old | Mumbai +224 more
								    Critically Rated For Promotions / Appraisal, Salary & Benefits
LTIMindtree
									   Follow   3.6
									IT Services & Consulting | 50k-1 Lakh Employees | Public | 27 years old | Bangalore / Bengaluru +52 more
								    Critically Rated For Promotions / Appraisal, Salary & Benefits, Work Satisfaction
HDFC Life
									   Follow   4.1
									Insurance | 10k-50k Employees | Public | 24 years old | Mumbai +563 more
								   Highly Rated For Skill Development / Learning, Job Security, Company Culture

In [15]:
content = soup.find_all('div', class_='companyCardWrapper__metaInformation')

In [16]:
soup.find_all('div', class_='companyCardWrapper__metaInformation')[0].text

'\n\t\t\t\t\t\t\t\t\t\tVodafone Idea\n\t\t\t\t\t\t\t\t\t   Follow   4.2 \n\t\t\t\t\t\t\t\t\tTelecom | 5k-10k Employees | Public | 6 years old | Mumbai +639 more\n\t\t\t\t\t\t\t\t   Highly Rated For Company Culture, Work Life Balance, Salary & Benefits  '

In [17]:
for i in content:
    print(i.find('h2').text.strip(),end=' ')
    print(i.find('span', class_='companyCardWrapper__interLinking').text.strip(),end=' ')
    print(i.find('span', class_='companyCardWrapper__ratingValues').text.strip())
    print()

Vodafone Idea Telecom | 5k-10k Employees | Public | 6 years old | Mumbai +639 more Company Culture, Work Life Balance, Salary & Benefits

BYJU'S EdTech | 10k-50k Employees | Indian Unicorn | 13 years old | Bangalore +307 more Job Security, Work Life Balance, Company Culture

Kotak Mahindra Bank Banking | 50k-1 Lakh Employees | Public | 21 years old | Mumbai +573 more Job Security

Deloitte Management Consulting | 1 Lakh+ Employees | 179 years old | London +151 more Job Security, Skill Development / Learning, Salary & Benefits

Reliance Industries Oil & Gas | 1 Lakh+ Employees | Public | 47 years old | Navi Mumbai +687 more Job Security, Skill Development / Learning, Work Life Balance

iEnergizer BPO | 10k-50k Employees | 24 years old | Noida +31 more Company Culture, Skill Development / Learning, Job Security

Bharti Airtel Telecom | 10k-50k Employees | Public | 29 years old | Gurgaon/Gurugram +661 more Skill Development / Learning, Job Security, Company Culture

Tata Motors Automobile | 10k-50k Employees | Public | 79 years old | Pune +433 more Job Security, Company Culture, Skill Development / Learning

WNS BPO | 10k-50k Employees | 28 years old | Mumbai +38 more Promotions / Appraisal, Salary & Benefits, Work Satisfaction

Flipkart Internet | 10k-50k Employees | Public | 17 years old | Bangalore +516 more Skill Development / Learning, Company Culture, Job Security

IndusInd Bank Banking | 10k-50k Employees | Public | 30 years old | Gurgaon/Gurugram +690 more Promotions / Appraisal, Salary & Benefits, Company Culture

Ernst & Young Management Consulting | 50k-1 Lakh Employees | 22 years old | London +94 more Job Security

AU Small Finance Bank Banking | 10k-50k Employees | Fortune India 500 | 28 years old | Jaipur +409 more Skill Development / Learning, Job Security, Company Culture

Mahindra & Mahindra Automobile | 1 Lakh+ Employees | Public | 79 years old | Mumbai +480 more Job Security, Skill Development / Learning, Company Culture

Infosys BPM BPO | 10k-50k Employees | 22 years old | Bangalore/Bengaluru +68 more Job Security, Company Culture, Skill Development / Learning

DXC Technology IT Services & Consulting | 10k-50k Employees | Public | 7 years old | Minato +83 more Work Life Balance

IDFC FIRST Bank Banking | 10k-50k Employees | Public | 6 years old | Mumbai +588 more Salary & Benefits, Skill Development / Learning, Job Security

Conneqt Business Solutions BPO | 10k-50k Employees | 22 years old | Mumbai +224 more Promotions / Appraisal, Salary & Benefits

LTIMindtree IT Services & Consulting | 50k-1 Lakh Employees | Public | 27 years old | Bangalore / Bengaluru +52 more Promotions / Appraisal, Salary & Benefits, Work Satisfaction

HDFC Life Insurance | 10k-50k Employees | Public | 24 years old | Mumbai +563 more Skill Development / Learning, Job Security, Company Culture

In [18]:
# company = []
# business_type = []


# for i in content:
#     company = i.find('h2').text.strip()
#     business_type = i.find('span', class_='companyCardWrapper__interLinking').text.strip()
#     i.find('span', class_='companyCardWrapper__ratingValues').text.strip()
#     print()

SyntaxError: unmatched ')' (3474298168.py, line 2)

In [19]:
for i in content:
    print(i.find_all('span', class_='companyCardWrapper__ratingHeader--high'))

[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]
[]
[]
[<span class="companyCardWrapper__ratingHeader--high">Highly Rated For</span>]

In [20]:
for i in content:
    print(i.find_all('span', class_='companyCardWrapper__ratingHeader--critical'))

[]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[]
[]
[]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[]
[]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[<span class="companyCardWrapper__ratingHeader--critical">Critically Rated For</span>]
[]

In [21]:
# ratings = {
#     "Highly Rated For": None,
#     "Critically Rated For": None
# }
hrf = []
crf = []
for i in content:
    highly_rated = i.find('span', class_='companyCardWrapper__ratingHeader--high')
    if highly_rated:
        highly_rated_value = highly_rated.find_next('span', class_='companyCardWrapper__ratingValues')
        hrf.append(highly_rated_value.text.strip() if highly_rated_value else None)
    else:
        hrf.append(None)
    critically_rated = i.find('span', class_='companyCardWrapper__ratingHeader--critical')
    if critically_rated:
        critically_rated_value = critically_rated.find_next('span', class_='companyCardWrapper__ratingValues')
        crf.append(critically_rated_value.text.strip() if critically_rated_value else None)
    else:
        crf.append(None)

In [22]:
for i in hrf:
    print(i)

Company Culture, Work Life Balance, Salary & Benefits
None
Job Security
Job Security, Skill Development / Learning, Salary & Benefits
Job Security, Skill Development / Learning, Work Life Balance
Company Culture, Skill Development / Learning, Job Security
Skill Development / Learning, Job Security, Company Culture
Job Security, Company Culture, Skill Development / Learning
None
Skill Development / Learning, Company Culture, Job Security
None
Job Security
Skill Development / Learning, Job Security, Company Culture
Job Security, Skill Development / Learning, Company Culture
Job Security, Company Culture, Skill Development / Learning
Work Life Balance
Salary & Benefits, Skill Development / Learning, Job Security
None
None
Skill Development / Learning, Job Security, Company Culture

In [23]:
for i in crf:
    print(i)

None
Job Security, Work Life Balance, Company Culture
Promotions / Appraisal
None
Promotions / Appraisal
None
None
None
Promotions / Appraisal, Salary & Benefits, Work Satisfaction
None
Promotions / Appraisal, Salary & Benefits, Company Culture
Work Life Balance, Work Satisfaction, Promotions / Appraisal
None
None
Salary & Benefits, Promotions / Appraisal
Promotions / Appraisal, Salary & Benefits
None
Promotions / Appraisal, Salary & Benefits
Promotions / Appraisal, Salary & Benefits, Work Satisfaction
None

### Here making a dataframe

In [29]:
company = []
business_type = []
hrf = []
crf = []


for i in content:
    company.append(i.find('h2').text.strip())
    business_type.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
    highly_rated = i.find('span', class_='companyCardWrapper__ratingHeader--high')
    if highly_rated:
        highly_rated_value = highly_rated.find_next('span', class_='companyCardWrapper__ratingValues')
        hrf.append(highly_rated_value.text.strip() if highly_rated_value else None)
    else:
        hrf.append(None)
    critically_rated = i.find('span', class_='companyCardWrapper__ratingHeader--critical')
    if critically_rated:
        critically_rated_value = critically_rated.find_next('span', class_='companyCardWrapper__ratingValues')
        crf.append(critically_rated_value.text.strip() if critically_rated_value else None)
    else:
        crf.append(None)

In [34]:
df_dict = {'company':company, 'business_type':business_type, 'hrf':hrf, 'crf':crf}

##### Converting dictionary to dataframe

In [36]:
df = pd.DataFrame(df_dict)
df

,company,business_type,hrf,crf
0,Vodafone Idea,Telecom | 5k-10k Employees | Public | 6 years ...,"Company Culture, Work Life Balance, Salary & B...",None
1,BYJU'S,EdTech | 10k-50k Employees | Indian Unicorn | ...,None,"Job Security, Work Life Balance, Company Culture"
2,Kotak Mahindra Bank,Banking | 50k-1 Lakh Employees | Public | 21 y...,Job Security,Promotions / Appraisal
3,Deloitte,Management Consulting | 1 Lakh+ Employees | 17...,"Job Security, Skill Development / Learning, Sa...",None
4,Reliance Industries,Oil & Gas | 1 Lakh+ Employees | Public | 47 ye...,"Job Security, Skill Development / Learning, Wo...",Promotions / Appraisal
5,iEnergizer,BPO | 10k-50k Employees | 24 years old | Noida...,"Company Culture, Skill Development / Learning,...",None
6,Bharti Airtel,Telecom | 10k-50k Employees | Public | 29 year...,"Skill Development / Learning, Job Security, Co...",None
7,Tata Motors,Automobile | 10k-50k Employees | Public | 79 y...,"Job Security, Company Culture, Skill Developme...",None
8,WNS,BPO | 10k-50k Employees | 28 years old | Mumba...,None,"Promotions / Appraisal, Salary & Benefits, Wor..."
9,Flipkart,Internet | 10k-50k Employees | Public | 17 yea...,"Skill Development / Learning, Company Culture,...",None
10,IndusInd Bank,Banking | 10k-50k Employees | Public | 30 year...,None,"Promotions / Appraisal, Salary & Benefits, Com..."
11,Ernst & Young,Management Consulting | 50k-1 Lakh Employees |...,Job Security,"Work Life Balance, Work Satisfaction, Promotio..."
12,AU Small Finance Bank,Banking | 10k-50k Employees | Fortune India 50...,"Skill Development / Learning, Job Security, Co...",None
13,Mahindra & Mahindra,Automobile | 1 Lakh+ Employees | Public | 79 y...,"Job Security, Skill Development / Learning, Co...",None
14,Infosys BPM,BPO | 10k-50k Employees | 22 years old | Banga...,"Job Security, Company Culture, Skill Developme...","Salary & Benefits, Promotions / Appraisal"
15,DXC Technology,IT Services & Consulting | 10k-50k Employees |...,Work Life Balance,"Promotions / Appraisal, Salary & Benefits"
16,IDFC FIRST Bank,Banking | 10k-50k Employees | Public | 6 years...,"Salary & Benefits, Skill Development / Learnin...",None
17,Conneqt Business Solutions,BPO | 10k-50k Employees | 22 years old | Mumba...,None,"Promotions / Appraisal, Salary & Benefits"
18,LTIMindtree,IT Services & Consulting | 50k-1 Lakh Employee...,None,"Promotions / Appraisal, Salary & Benefits, Wor..."
19,HDFC Life,Insurance | 10k-50k Employees | Public | 24 ye...,"Skill Development / Learning, Job Security, Co...",None

In [43]:
df2 = df.business_type.str.split('|', expand=True)
df2

,0,1,2,3,4
0,Telecom,5k-10k Employees,Public,6 years old,Mumbai +639 more
1,EdTech,10k-50k Employees,Indian Unicorn,13 years old,Bangalore +307 more
2,Banking,50k-1 Lakh Employees,Public,21 years old,Mumbai +573 more
3,Management Consulting,1 Lakh+ Employees,179 years old,London +151 more,None
4,Oil & Gas,1 Lakh+ Employees,Public,47 years old,Navi Mumbai +687 more
5,BPO,10k-50k Employees,24 years old,Noida +31 more,None
6,Telecom,10k-50k Employees,Public,29 years old,Gurgaon/Gurugram +661 more
7,Automobile,10k-50k Employees,Public,79 years old,Pune +433 more
8,BPO,10k-50k Employees,28 years old,Mumbai +38 more,None
9,Internet,10k-50k Employees,Public,17 years old,Bangalore +516 more
10,Banking,10k-50k Employees,Public,30 years old,Gurgaon/Gurugram +690 more
11,Management Consulting,50k-1 Lakh Employees,22 years old,London +94 more,None
12,Banking,10k-50k Employees,Fortune India 500,28 years old,Jaipur +409 more
13,Automobile,1 Lakh+ Employees,Public,79 years old,Mumbai +480 more
14,BPO,10k-50k Employees,22 years old,Bangalore/Bengaluru +68 more,None
15,IT Services & Consulting,10k-50k Employees,Public,7 years old,Minato +83 more
16,Banking,10k-50k Employees,Public,6 years old,Mumbai +588 more
17,BPO,10k-50k Employees,22 years old,Mumbai +224 more,None
18,IT Services & Consulting,50k-1 Lakh Employees,Public,27 years old,Bangalore / Bengaluru +52 more
19,Insurance,10k-50k Employees,Public,24 years old,Mumbai +563 more

In [44]:
result = pd.concat([df,df2], axis=1)
result

,company,business_type,hrf,crf,0,1,2,3,4
0,Vodafone Idea,Telecom | 5k-10k Employees | Public | 6 years ...,"Company Culture, Work Life Balance, Salary & B...",None,Telecom,5k-10k Employees,Public,6 years old,Mumbai +639 more
1,BYJU'S,EdTech | 10k-50k Employees | Indian Unicorn | ...,None,"Job Security, Work Life Balance, Company Culture",EdTech,10k-50k Employees,Indian Unicorn,13 years old,Bangalore +307 more
2,Kotak Mahindra Bank,Banking | 50k-1 Lakh Employees | Public | 21 y...,Job Security,Promotions / Appraisal,Banking,50k-1 Lakh Employees,Public,21 years old,Mumbai +573 more
3,Deloitte,Management Consulting | 1 Lakh+ Employees | 17...,"Job Security, Skill Development / Learning, Sa...",None,Management Consulting,1 Lakh+ Employees,179 years old,London +151 more,None
4,Reliance Industries,Oil & Gas | 1 Lakh+ Employees | Public | 47 ye...,"Job Security, Skill Development / Learning, Wo...",Promotions / Appraisal,Oil & Gas,1 Lakh+ Employees,Public,47 years old,Navi Mumbai +687 more
5,iEnergizer,BPO | 10k-50k Employees | 24 years old | Noida...,"Company Culture, Skill Development / Learning,...",None,BPO,10k-50k Employees,24 years old,Noida +31 more,None
6,Bharti Airtel,Telecom | 10k-50k Employees | Public | 29 year...,"Skill Development / Learning, Job Security, Co...",None,Telecom,10k-50k Employees,Public,29 years old,Gurgaon/Gurugram +661 more
7,Tata Motors,Automobile | 10k-50k Employees | Public | 79 y...,"Job Security, Company Culture, Skill Developme...",None,Automobile,10k-50k Employees,Public,79 years old,Pune +433 more
8,WNS,BPO | 10k-50k Employees | 28 years old | Mumba...,None,"Promotions / Appraisal, Salary & Benefits, Wor...",BPO,10k-50k Employees,28 years old,Mumbai +38 more,None
9,Flipkart,Internet | 10k-50k Employees | Public | 17 yea...,"Skill Development / Learning, Company Culture,...",None,Internet,10k-50k Employees,Public,17 years old,Bangalore +516 more
10,IndusInd Bank,Banking | 10k-50k Employees | Public | 30 year...,None,"Promotions / Appraisal, Salary & Benefits, Com...",Banking,10k-50k Employees,Public,30 years old,Gurgaon/Gurugram +690 more
11,Ernst & Young,Management Consulting | 50k-1 Lakh Employees |...,Job Security,"Work Life Balance, Work Satisfaction, Promotio...",Management Consulting,50k-1 Lakh Employees,22 years old,London +94 more,None
12,AU Small Finance Bank,Banking | 10k-50k Employees | Fortune India 50...,"Skill Development / Learning, Job Security, Co...",None,Banking,10k-50k Employees,Fortune India 500,28 years old,Jaipur +409 more
13,Mahindra & Mahindra,Automobile | 1 Lakh+ Employees | Public | 79 y...,"Job Security, Skill Development / Learning, Co...",None,Automobile,1 Lakh+ Employees,Public,79 years old,Mumbai +480 more
14,Infosys BPM,BPO | 10k-50k Employees | 22 years old | Banga...,"Job Security, Company Culture, Skill Developme...","Salary & Benefits, Promotions / Appraisal",BPO,10k-50k Employees,22 years old,Bangalore/Bengaluru +68 more,None
15,DXC Technology,IT Services & Consulting | 10k-50k Employees |...,Work Life Balance,"Promotions / Appraisal, Salary & Benefits",IT Services & Consulting,10k-50k Employees,Public,7 years old,Minato +83 more
16,IDFC FIRST Bank,Banking | 10k-50k Employees | Public | 6 years...,"Salary & Benefits, Skill Development / Learnin...",None,Banking,10k-50k Employees,Public,6 years old,Mumbai +588 more
17,Conneqt Business Solutions,BPO | 10k-50k Employees | 22 years old | Mumba...,None,"Promotions / Appraisal, Salary & Benefits",BPO,10k-50k Employees,22 years old,Mumbai +224 more,None
18,LTIMindtree,IT Services & Consulting | 50k-1 Lakh Employee...,None,"Promotions / Appraisal, Salary & Benefits, Wor...",IT Services & Consulting,50k-1 Lakh Employees,Public,27 years old,Bangalore / Bengaluru +52 more
19,HDFC Life,Insurance | 10k-50k Employees | Public | 24 ye...,"Skill Development / Learning, Job Security, Co...",None,Insurance,10k-50k Employees,Public,24 years old,Mumbai +563 more

In [56]:
import warnings
warnings.filterwarnings('ignore')

### Now doing it for multiple pages and then making a single dataframe for all pages

In [57]:
final = pd.DataFrame()

for j in range(1,501):
    url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)
    
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url, headers=headers, verify=False).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    
    content = soup.find_all('div', class_='companyCardWrapper__metaInformation')
    
    company = []
    business_type = []
    hrf = []
    crf = []


    for i in content:
        company.append(i.find('h2').text.strip())
        business_type.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
        highly_rated = i.find('span', class_='companyCardWrapper__ratingHeader--high')
        if highly_rated:
            highly_rated_value = highly_rated.find_next('span', class_='companyCardWrapper__ratingValues')
            hrf.append(highly_rated_value.text.strip() if highly_rated_value else None)
        else:
            hrf.append(None)
        critically_rated = i.find('span', class_='companyCardWrapper__ratingHeader--critical')
        if critically_rated:
            critically_rated_value = critically_rated.find_next('span', class_='companyCardWrapper__ratingValues')
            crf.append(critically_rated_value.text.strip() if critically_rated_value else None)
        else:
            crf.append(None)
            
    df_dict = {'company':company, 'business_type':business_type, 'hrf':hrf, 'crf':crf}
    
    df = pd.DataFrame(df_dict)
    df2 = df.business_type.str.split('|', expand=True)
    result = pd.concat([df,df2], axis=1)
    
    # now combining two dataframe
    final = final._append(result)

In [58]:
final

,company,business_type,hrf,crf,0,1,2,3,4
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting,1 Lakh+ Employees,Public,56 years old,Mumbai +349 more
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,"Company Culture, Skill Development / Learning,...",None,IT Services & Consulting,1 Lakh+ Employees,Public,35 years old,Dublin +182 more
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,Skill Development / Learning,Promotions / Appraisal,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,30 years old,Teaneck. New Jersey. +169 more
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security,"Promotions / Appraisal, Salary & Benefits",IT Services & Consulting,1 Lakh+ Employees,Public,79 years old,Bangalore/Bengaluru +274 more
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting,1 Lakh+ Employees,Public,57 years old,Paris +141 more
...,...,...,...,...,...,...,...,...,...
15,Salaryfy,Recruitment | 11-50 Employees | Gurgaon / Guru...,"Salary & Benefits, Company Culture, Job Security",None,Recruitment,11-50 Employees,Gurgaon / Gurugram,None,None
16,OpenXcell Technolabs,IT Services & Consulting | 201-500 Employees |...,"Work Life Balance, Job Security, Company Culture",Promotions / Appraisal,IT Services & Consulting,201-500 Employees,15 years old,Las Vegas +4 more,None
17,Paramount Surgimed,Medical Equipment | 201-500 Employees | 31 yea...,"Skill Development / Learning, Company Culture,...",None,Medical Equipment,201-500 Employees,31 years old,New Delhi +7 more,None
18,Zymr Systems,IT Services & Consulting | 201-500 Employees |...,None,"Work Satisfaction, Company Culture, Skill Deve...",IT Services & Consulting,201-500 Employees,12 years old,San Jose +4 more,None
19,Mobulous Technologies,IT Services & Consulting | 51-200 Employees | ...,"Skill Development / Learning, Company Culture,...",None,IT Services & Consulting,51-200 Employees,11 years old,Noida +4 more,None

In [61]:
final[final.company=='Symphoni HR']

,company,business_type,hrf,crf,0,1,2,3,4
4,Symphoni HR,51-200 Employees | Mumbai +1 more,None,"Job Security, Salary & Benefits, Promotions / ...",51-200 Employees,Mumbai +1 more,None,None,None